name: Autograder

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  autograde:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run GitHub Classroom Autograder
        uses: education/autograding@v1
